@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

section{
    padding: 100px 0;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.about, .skills, .contact{
    font-family: 'Poppins', sans-serif;
}
.about .a-content, 
.skills .s-content,
.contact .con-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}

.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}
.navbar.sticky{
    padding: 15px 0;
    background: crimson;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color:#fff;
    font-size: 35px;
    font-weight: 600;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color: crimson;
}
.navbar.sticky .menu li a:hover{
    color: #fff;
}

.menu-btn{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

.home{
    display: flex;
    background: url("img2.jpg") no-repeat center;
    height: 50vh;
    color: #fff;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
}
.home .max-width{
    margin: auto 0 auto 30px;
}
.home .h-content .first{
    font-size: 27px;
}
.home .h-content .second{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}
.home .h-content .third{
    font-size: 40px;
    margin: 5px 0;
}

.about .a-content .left{
    width: 45%;
}
.about .a-content .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
}
.about .a-content .right{
    width: 55%;
}
.about .a-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.about .about-content .right p{
    text-align: justify;
}

.skills .s-content .column{
    width: calc(50% - 30px);
}
.skills .s-content .left .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.skills .s-content .left p{
    text-align: justify;
}
.skills .s-content .right .info{
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}

.contact .c-content .column{
    width: calc(50% - 30px);
}
.contact .c-content .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.contact .c-content .left p{
    text-align: justify;
}
.contact .c-content .left .icons{
    margin: 10px 0;
}
.contact .c-content .row{
    display: flex;
    height: 65px;
    align-items: center;
}
.contact .c-content .row .info{
    margin-left: 30px;
}
.contact .c-content .row i{
    font-size: 25px;
    color: crimson;
}
.contact .c-content .info .head{
    font-weight: 500;
}
.contact .c-content .info .sub-title{
    color: #333;
}